<div id="<%= dom_id pet_history %>">
  <p>
    <strong>Weight:</strong>
    <%= pet_history.weight %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= pet_history.height %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pet_history.description %>
  </p>

  def pet_history_params
       params.require(:pet_history.permit(weight, :height, :description, :pet_id))
  end  

</div>
